<br/><br/>
    <h2>STACK TRACE</h2>
      <pre style="text-align:left">
<%=@stacktrace%>
      </pre>
    <h2>FULL TRACE</h2>
    <div style="text-align: left">
      <%= (ap @data).html_safe %> 
    </div>